
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

#wrapper {
}

#app {
    background: rgb(0, 79, 93);
    color: #aaa;
}

#game {
    height: 100vh;
}

.sprites {
    display:  none;
}

.log, .log p {
    background: rgb(0, 0, 255 );
    color: #aaa;
    font-size: 100%;

    font-family: 'Share Tech Mono', monospace;
    margin: 0.5em;
}

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Share Tech Mono', monospace; */

@media (min-width: 48em) {

    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
        min-height: 100%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}





